[tools]
uv = "0.10.0"

[tasks.start]
description = "Start the fastapi server"
usage = '''
arg "<environment>" help="Target environment" default="prod" { choices "dev" "prod" }
flag "--dev" help="Run in development mode"
flag "-v --verbose" help="Run in verbose mode"
'''
run = '''
#!/usr/bin/env bash
if [ ${usage_environment} = "dev" ]; then
    fastapi dev ${usage_dev} ${usage_verbose}
else
    fastapi run ${usage_dev} ${usage_verbose}
fi
'''
quiet = true

[tasks.ruff]
description = "Run ruff linter"
run = "ruff check ."

[tasks.mypy]
description = "Run mypy linter"
run = "mypy ."

[tasks.pyright]
description = "Run basedpyright linter"
run = "basedpyright ."

[tasks.lint]
description = "Run linters"
run = [
    { tasks = [ 'ruff', 'mypy', 'pyright' ] },
]

[tasks.test]
description = "Run tests"
run = "pytest ."

[tasks.check]
description = "Run linters and tests"
run = [
    { task = 'lint' },
    { task = 'test' }
]

[settings]
python.uv_venv_auto = "create|source"
