[env]
_.file = ".env"

[tools]
devcontainer-cli = "0.83.0"
uv = "0.10.0"

[tasks.init]
description = "Initialize the project and install all dependencies"
run = """
#!/usr/bin/env bash
uv python install
uv sync --frozen --dev
"""

[tasks.start]
description = "Start the fastapi server"
usage = '''
arg "<environment>" help="Target environment" default="prod" { choices "dev" "prod" }
flag "-v --verbose" help="Run in verbose mode"
'''
depends = "init"
run = '''
#!/usr/bin/env bash
if [ ${usage_environment} = "dev" ]; then
    fastapi dev --reload ${usage_verbose}
else
    fastapi run ${usage_verbose}
fi
'''
quiet = true

[tasks.ruff]
description = "Run ruff linter"
depends = "init"
run = "ruff check ."
hide = true

[tasks.mypy]
description = "Run mypy linter"
depends = "init"
run = "mypy ."
hide = true

[tasks.pyright]
description = "Run basedpyright linter"
depends = "init"
run = "basedpyright ."
hide = true

[tasks.lint]
description = "Run linters"
run = [
    { tasks = [ 'ruff', 'mypy', 'pyright' ] },
]

[tasks.test]
description = "Run tests"
depends = "init"
run = "pytest ."

[tasks.check]
description = "Run linters and tests"
run = [
    { task = 'lint' },
    { task = 'test' }
]

[tasks.devcontainer]
description = "Build, start and enter devcontainer"
run = '''
#!/usr/bin/env bash
devcontainer build --docker-path=$DOCKER_PATH
devcontainer up --dotfiles-repository=https://github.com/abdmoh123/.dotfiles.git --dotfiles-target-path=~ --docker-path=$DOCKER_PATH
exec devcontainer exec --docker-path=$DOCKER_PATH bash 
'''

[tasks.clean]
description = "Clean the project"
run = """
#!/usr/bin/env bash
uv clean
find . -type d -name "*cache" -exec rm -r {} +
find . -type d -name "__pycache__" -exec rm -rf {} + && find . -name "*.pyc" -delete
"""

[settings]
python.uv_venv_auto = "create|source"
